.form {
  flex-shrink: 0;
}

.input {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.button {
  background-color: #333974;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
}
