.todo {
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.text {
  flex: 1;
  margin: 0;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.complete {
  background-color: green;
}

.remove {
  background-color: red;
}
