@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
background: linear-gradient(#FF0000, #eb26b4);

  padding: 30px;
  color: #333;
  background-position: center;
  background-size: cover;
  
}

.app {
  width: 90%;
  max-width: 600px;
  height: 80vh;
  overflow-y: auto;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.todoList {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
  max-height: 300px;
  overflow-y: auto;
  flex-shrink: 0;
}

.title {
  text-align: center;
}
